{% extends "base.html" %}

{% block content %}
<!-- current_user is a property of flask-login -->
<form action="" method="post" novalidate>

  <h1>Hi, {{ current_user.username }}!</h1>
  {% for post in posts %}
  <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
  {% endfor %}

</form>
<!-- change 1: or: createlist -->
<form method="get" action="/createlist">
  <button class="btn btn-lg btn-primary" type="submit">Create List</button>
</form>
<form method="get" action="/viewlist">
  <button class="btn btn-lg btn-primary" type="submit">View List</button>
</form>
<form action="http://google.com">
  <button class="btn btn-lg btn-primary" type="submit">View Calender</button>
</form>

{% endblock %}
