{% extends "base.html" %}
{% block content %}
</form>

        <h2> Incomplete Items </h2>
        <ul>
            {% for todo in todos %}

            <p  style="font-size: 15pt, ">{{ todo.text }} <form action = "{{ url_for('complete', id = todo.id) }}" >
                </p>

                <button class="btn btn-sm btn-primary" type="submit">Done</button>
                </form>
               <form action="{{ url_for('important', id = todo.id) }}">
                <button class="btn btn-sm btn-secondary" id="btn-important" type="submit">Important</button>
                </form>

                <break></break>
            {% endfor %}


            <h2 style=" color: red"> Important Items </h2>
                <ul>
                    {% for todo in important %}
                    <li  style="font-size: 15pt">
                        {{ todo.text }}
                    </li>
                        {% endfor %}
                </ul>

        </ul>

{% endblock %}
